<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Add_book_details</servlet-name>
        <servlet-class>Add_book_details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_books</servlet-name>
        <servlet-class>Add_books</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Temp</servlet-name>
        <servlet-class>Temp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>View_reservations</servlet-name>
        <servlet-class>View_reservations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reserve_cancel</servlet-name>
        <servlet-class>Reserve_cancel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Issue_book</servlet-name>
        <servlet-class>Issue_book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Issue_book_confirm</servlet-name>
        <servlet-class>Issue_book_confirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Accept_submission</servlet-name>
        <servlet-class>Accept_submission</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Accept_submission_confirm</servlet-name>
        <servlet-class>Accept_submission_confirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Temp1</servlet-name>
        <servlet-class>Temp1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Temp2</servlet-name>
        <servlet-class>Temp2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Penalty_paid</servlet-name>
        <servlet-class>Penalty_paid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Penalty_paid_confirm</servlet-name>
        <servlet-class>Penalty_paid_confirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_book_details</servlet-name>
        <servlet-class>Delete_book_details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_books</servlet-name>
        <servlet-class>Delete_books</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_books_temp</servlet-name>
        <servlet-class>Add_books_temp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_books_temp</servlet-name>
        <servlet-class>Delete_books_temp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Periodic_check</servlet-name>
        <servlet-class>Periodic_check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>View_account_details</servlet-name>
        <servlet-class>View_account_details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Your_books</servlet-name>
        <servlet-class>Your_books</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Add_book_details</servlet-name>
        <url-pattern>/Add_book_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_books</servlet-name>
        <url-pattern>/Add_books</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Temp</servlet-name>
        <url-pattern>/Temp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>View_reservations</servlet-name>
        <url-pattern>/View_reservations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reserve_cancel</servlet-name>
        <url-pattern>/Reserve_cancel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Issue_book</servlet-name>
        <url-pattern>/Issue_book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Issue_book_confirm</servlet-name>
        <url-pattern>/Issue_book_confirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Accept_submission</servlet-name>
        <url-pattern>/Accept_submission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Accept_submission_confirm</servlet-name>
        <url-pattern>/Accept_submission_confirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Temp1</servlet-name>
        <url-pattern>/Temp1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Temp2</servlet-name>
        <url-pattern>/Temp2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Penalty_paid</servlet-name>
        <url-pattern>/Penalty_paid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Penalty_paid_confirm</servlet-name>
        <url-pattern>/Penalty_paid_confirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_book_details</servlet-name>
        <url-pattern>/Delete_book_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_books</servlet-name>
        <url-pattern>/Delete_books</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_books_temp</servlet-name>
        <url-pattern>/Add_books_temp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_books_temp</servlet-name>
        <url-pattern>/Delete_books_temp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Periodic_check</servlet-name>
        <url-pattern>/Periodic_check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>View_account_details</servlet-name>
        <url-pattern>/View_account_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Your_books</servlet-name>
        <url-pattern>/Your_books</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            15
        </session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
